<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>
    <img
      src="../images/chevron.svg"
      alt="chevron"
      class="icon icon--white collapsible__chevron"
    />
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi, sint.
  </div>
</div>
<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>
    <img
      src="../images/chevron.svg"
      alt="chevron"
      class="icon icon--white collapsible__chevron"
    />
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi, sint.
  </div>
</div>
<script src="js/main.js"></script>
